/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца +
✦ card__like-button — для кнопки Like рядом с иконкой  +
✦ card__icon-button — для кнопки, оборачивающей иконку +
✦ card__icon-button — для кнопки, оборачивающей иконку +
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки +

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font);
  margin: 102px 372px;
  display: flex;
  justify-content: center;
}

.header-title {
  background-color: white;
  border: var(--main-border);
  width: var(--section-width);
  padding: 128px 102.5px;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.45rem);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.accent-title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4rem);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  border: var(--main-border);
  width: var(--section-width);
  background-color: white;
}

.card-title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--title-weight, 700);
  font-size: 18px;
  border-bottom: var(--main-border);
  padding: 4px 11px;
  font-weight: var(--title-weight);
}

.label-container {
  position: relative;
  min-height: clamp(23.438rem, 16.373rem + 30.141vw, 43.5rem);
  width: 100%;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.card-label {
  font-family: var(--accent-font);
  font-size: 14px;
  position: absolute;
  top: 27px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: 0 0 var(--label-outline-color);
}

@supports (-webkit-text-stroke: 1px var(--label-outline-color)) {
  .card-label {
    -webkit-text-stroke: 1px var(--label-outline-color);
  }
}

.filter-muted {
  filter: grayscale(75%);
}

.filter-neon {
  filter: saturate(250%);
}

.filter-twilight {
  filter: hue-rotate(30deg);
}

.filter-negative {
  filter: invert(100%) grayscale(50%) brightness(80%);
}

.filter-blur {
  filter: blur(1em);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-fog {
  filter: hue-rotate(70deg) saturate(110%) sepia(30%);
}

.card-description {
  margin: 25px 27px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.description-footer {
  align-self: end;
  display: flex;
  align-items: end;
  gap: 6px;
}

.button {
  position: relative;
  cursor: pointer;
  border: var(--main-border);
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 black;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button .button__text {
  mix-blend-mode: difference;
  color: white;
}

.card__icon-button {
  background: transparent;
  border: var(--main-border);
  border-color: rgba(0, 0, 0, 0);
  transition: border-color 0.3s ease;
  will-change: border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: rgba(0, 0, 0, 1);
}

.like-icon {
  width: 36px;
  height: 36px;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
}

.like-icon .core {
  fill: transparent;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

/* наведение */
.like-icon:hover .core {
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0s;
  fill: var(--contour-color);
} 

.like-icon:hover .main-body {
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  fill: var(--contour-color);
} 

/* зажатие */
.like-icon:active .core {
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0s;
  fill: var(--animation-fill-color);
} 

.like-icon:active .main-body {
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  fill: var(--animation-fill-color);
} 

/* клик */
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: scaleIcon 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparklesOpacity 0.3s ease-in 0.3s;
  transform-origin: center;
}

.like-icon:not(.is-liked) .contour {
  transition-timing-function: linear;
  transition-duration: 0.1s;
  fill: var(--contour-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  align-self: flex-start;
}

.main-footer {
  align-self: center;
  margin-bottom: 103px;
  background-color: white;
}

.footer-button {
  width: clamp(19.125rem, 18.047rem + 4.601vw, 21rem);
  min-height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-button-text {
  display: flex;
  font-family: var(--accent-font);
  font-size: 14px;
}

.footer-button-text span {
  margin-left: 8px;
  padding-top: 4px;
}

.dialog-container {
  font-family: var(--accent-font);
  padding: 30px;
  text-transform: uppercase;
}

.dialog-container::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-title {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 323px;
  line-height: 150%;
}

.dialog-title svg {
  flex-shrink: 0;
}

.dialog-button {
  width: 100%;
  margin-top: 30px;
  height: 38px;
  line-height: 90%;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    margin: 100px;
  }
  
  .header-title {
    padding: 120px 14px;
  }

  main {
    gap: 47px;
  }

  .card-title {
    padding: 4px 10px 6px;
    line-height: 1.2em;
  }

  .card-label {
    top: 25px;
    right: 12px;
  }

  .card-description {
    margin: 25px;
  }

  .footer-button {
    padding: 15px 0;
  }

  .footer-button svg {
    width: 28px;
    height: 28px;
  }

  .footer-button-text {
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  .footer-button-text span {
    margin-left: 0;
  }
}